@{
	Layout = null;
	ViewData["Title"] = "Home Page";

}

@model la_mia_pizzeria_static.Models.PizzasList

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
	<div class="container mt-3">
		<main role="main" class="pb-3">
			<div class="text-center">
				<h1 class="display-2">La Vesuviana</h1>
				<h2 class="display-4 pb-5">Le Pizze, Quelle Bone</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col"><h3>Nome</h3></th>
							<th scope="col"><h3>Ingredienti</h3></th>
							<th scope="col"><h3>Prezzo</h3></th>
							<th scope="col"><h3>Ve' che bellezza</h3></th>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model.pizzas)
							{
								<tr>
									<td>
										<h3><a href="@Url.Action("Show", "Pizza", new {@item.Id})">@item.Name</a></h3>
										<div>
											<a class="btn-warning btn d-inline" href="@Url.Action("AggiornaPizza", "Pizza", @item)">Aggiorna</a>
											<a class="btn-danger btn d-inline" href="@Url.Action("RimuoviPizza", "Pizza", (PizzaModel)@item)">Cancella</a>
										</div>
									</td>
									<td><h3>@item.Description</h3></td>
									<td><h3>€@item.Price</h3></td>
									<td><img src="@item.Photo"></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>

		</main>
	</div>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

